@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4ab8f9;
  --primary-foreground: #ffffff;
  --secondary: #fa9131;
  --secondary-foreground: #ffffff;
  
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  
  --border: #e4e4e7;
  --radius: 0.5rem;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #4ab8f9;
  --primary-foreground: #ffffff;
  --secondary: #fa9131;
  --secondary-foreground: #ffffff;
  
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-jakarta);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
